<div>
    <h2>Lista de productos</h2>
    <div id="products">
        <ul>
            {{#each products}}
            <li>Titulo:{{title}},
                <p>Id:{{id}}</p>,
                Precio:{{precio}},
                Stock:{{stock}}
                categoria: {{category}}
            </li>
            {{/each}}
        </ul>
    </div>
    <a href="http://localhost:8080/realTimeProducts">
        <h2>Ir a</h2>
        <h2>Productos Actualizados en tiempo real</h2>
    </a>
</div>